<div id="builder">
    <div id="builder-template">
        <p class="title">Choose a template</p>
        <select id="builder-flavour" title="Flavour">
        </select>
        <button onclick="slide(this,false,true,()=>{view('builder-properties-information-'+get('builder-flavour').value.toLowerCase());view('builder-properties');});">
            Next
        </button>
    </div>
    <div id="builder-properties">
        <p class="title">Fill Information</p>
        <div id="builder-properties-information"></div>
        <button onclick="slide(this,false,true,()=>view('builder-deploy'));">Next</button>
    </div>
    <div id="builder-layout">
        <div id="builder-layout-properties">
            <p class="title">Add to layout</p>
            <div>
                <div id="builder-layout-properties-text">
                    <input id="builder-layout-properties-text-id" placeholder="Text ID"/>
                    <input id="builder-layout-properties-text-text" placeholder="Text Text"/>
                    <input id="builder-layout-properties-text-size" placeholder="Text Size"/>
                    <input id="builder-layout-properties-text-color" type="color" placeholder="Text Color"/>
                </div>
                <div id="builder-layout-properties-input">
                    <input id="builder-layout-properties-input-id" placeholder="Input ID"/>
                    <input id="builder-layout-properties-input-text" placeholder="Input Text"/>
                    <input id="builder-layout-properties-input-type" placeholder="Input Type"/>
                    <input id="builder-layout-properties-input-placeholder" placeholder="Placeholder"/>
                </div>
                <div id="builder-layout-properties-button">
                    <input id="builder-layout-properties-button-id" placeholder="Button ID"/>
                    <input id="builder-layout-properties-button-text" placeholder="Button Text"/>
                    <input id="builder-layout-properties-button-onclick" placeholder="On-Click Code"/>
                </div>
            </div>
            <button onclick="view('builder-layout-menu');">Back</button>
            <button id="builder-layout-properties-add">Add</button>
        </div>
        <div id="builder-layout-menu">
            <p class="title">Layout design</p>
            <button onclick="builder_design_text()">New Text</button>
            <button onclick="builder_design_input()">New Input</button>
            <button onclick="builder_design_button()">New Button</button>
            <button onclick="view('builder-properties');">Back</button>
        </div>
    </div>
    <div id="builder-code">
        <p class="title">Write app code</p>
        <textarea oninput="code.app = this.value" placeholder="JS App Code" title="App Code"></textarea>
        <button onclick="view('builder-properties');">Back</button>
    </div>
    <div id="builder-load">
        <p class="title">Write load code</p>
        <textarea oninput="code.load = this.value" placeholder="JS Load Code" title="Load Code"></textarea>
        <button onclick="view('builder-properties');">Back</button>
    </div>
    <div id="builder-stylesheet">
        <p class="title">Stylesheet design</p>
        <textarea oninput="stylesheet = this.value" placeholder="CSS Style" title="Style"></textarea>
        <button onclick="view('builder-properties');">Back</button>
    </div>
    <div id="builder-deploy">
        <p class="title">Finished!</p>
        <p class="content">Suggested Setup:</p>
        <table>
            <tr>
                <th>Server</th>
                <th>OS</th>
                <th>PHP</th>
            </tr>
            <tr>
                <td>Apache2</td>
                <td>Ubuntu 18.04</td>
                <td>7.0+</td>
            </tr>
        </table>
        <button onclick="slide(this, false, true, ()=>builder_deploy_download());">Download</button>
        <p class="content">Or</p>
        <button onclick="slide(this, false, false, ()=>builder_deploy_deploy());">Deploy on Webappify</button>
    </div>
</div>
<div id="editor">
    <div id="editor-list">
        <p class="title">Choose application to edit</p>
    </div>
</div>
<div id="explorer">
    <div id="explorer-home">
        <p class="title">Explore apps on Webappify</p>
        <p class="fineprint">Welcome to the explore page!<br/>Here, you'll be able to find interesting apps created by
            other
            users.</p>
        <button onclick="slide(this, false, true, explorer_random);">Pick a random app</button>
        <button onclick="slide(this, false, false, explorer_list);">View complete list</button>
    </div>
</div>
<div id="deployer">
    <div id="deployer-deploy">
        <p class="title">Deploy on Webappify</p>
        <p class="fineprint">
            Looks like you are ready to deploy your app on Webappify!<br/>
            We have some rules you'll need to follow:
        </p>
        <p class="fineprint">
            1. A deployed app must <b>NOT</b> cause any damage to the server nor to the clients.<br/>
            2. By deploying your app, you are agreeing to us displaying it on the "Discover" page.<br/>
            3. Your app will have a 30-Day life span, and will be removed if not renewed before end of the grace
            period, using the link in the email sent to you.
        </p>
        <p id="deployer-deploy-status" style="min-height: 5vh" class="fineprint"></p>
        <input id="deployer-deploy-email" type="email" placeholder="Email for deployment and renewment"/>
        <button id="deployer-deploy-button">Deploy</button>
    </div>
    <div id="deployer-unlock">
        <p class="title">Activate Deployment</p>
        <p class="fineprint">Click the button to activate your app.<br/>A renewal email will be sent every 30 days.</p>
        <button id="deployer-unlock-button">Activate</button>
    </div>
    <div id="deployer-renew">
        <p class="title">Renew Deployment</p>
        <p class="fineprint">Click the button to renew your app.<br/>The next renewal will be in 30 days.</p>
        <button id="deployer-renew-button">Renew</button>
    </div>
</div>
<div id="home">
    <p class="title">Welcome to Webappify!</p>
    <p class="content">The one-stop all-in-one WebApp platform.</p>
    <button onclick="slide(this, false, true, builder_load);">Create your app
    </button>
    <button onclick="slide(this, false, false, ()=>{loadEditor();});">Edit your apps
    </button>
    <button onclick="slide(this, false, true, explorer_load);">Discover others'
    </button>
    <button onclick="slide(this, false, false, ()=>view('about'));" style="font-size: medium;">About
    </button>
</div>
<div id="about">
    <img src="resources/svg/icon.svg" style="height: 18vh;width:18vh" alt="Icon"/>
    <p class="title">Webappify (formerly WebAppBuilder)</p>
    <p class="fineprint">The<a href="https://github.com/NadavTasher/Webappify">open-source</a>application platform.</p>
    <p class="fineprint">Developed by<a href="https://kut.to">Nadav Tasher</a></p>
</div>