.idea/workspace.xml
src/home/files/builder/flavours/Authentication.zip
src/home/files/builder/flavours/Base.zip
src/home/files/builder/flavours/Persona.zip
src/home/files/builder/flavours/Schedule.zip
src/home/files/builder/private/temporary
