html {
    overflow-x: hidden;
    height: 100%;
}

body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

body > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
}

html,
body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div,
form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    align-items: center;
    min-height: fit-content;
    width: 100%;
}

p,
input,
select,
option,
button,
table {
    -webkit-appearance: none;
    align-self: stretch;
    font-family: Arial, ArialHebrew, sans-serif;
    font-size: x-large;
    text-align-last: center;
    text-align: center;
    color: #000;
    margin: 1vh;
    padding: 1vh;
}

input,
select,
option,
button {
    transition-duration: 0.4s;
    background-color: #ddddee;
    border-radius: 1vh;
    border-color: transparent;
    color: #333;
}

input:hover,
select:hover,
option:hover,
button:hover {
    background-color: #bbbbcc;
}